<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>823801675801-6c0og5akslrrsm9u03krb************Athena***************f0irqlohpsk.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.823801675801-6c0og5akslrrs**************Athena****************m9u03krbf0irqlohpsk</string>
	<key>API_KEY</key>
	<string>AIzaSyA1OTIQ7Wg_***************Athena*************9y9ayltf5KdKlS5D_DETcCQ</string>
	<key>GCM_SENDER_ID</key>
	<string>823801675801</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.opriqx.kwikco</string>
	<key>PROJECT_ID</key>
	<string>kwik-35758</string>
	<key>STORAGE_BUCKET</key>
	<string>kwik-35758.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:823801675801:ios:8***************Athena************627c8e7651f1f25a7aa88</string>
	<key>DATABASE_URL</key>
	<string>https://kwik-35758.firebaseio.com</string>
</dict>
</plist>
